
body{
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}

.merah{
    color: red;
    text-align: center;
    font-size: 2rem;
}

.hitam{
    color: black;
    text-align: center;
    font-size: 1rem;
}

.biru{
    color: blue;
    text-align: center;
    font-size: .5rem;
}
