
.purple{
    color: purple;
}

.red{
    color: red;
}

.orange{
    color: orange;
}

.green{
    color: green;
}

.cyan{
    color: cyan;
}

.brown{
    color: brown;
}

.center{
    text-align: center;
}


